
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Font-Awesome Fonts
@import "node_modules/font-awesome/css/font-awesome.min";

// jQuery
@import "node_modules/jquery-datetimepicker/jquery.datetimepicker";
//@import "node_Modules/jquery-confirm/css/jquery-confirm";

// DataTables
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";
@import "node_modules/datatables.net-buttons-bs/css/buttons.bootstrap";
@import "node_modules/datatables.net-responsive-bs/css/responsive.bootstrap";

// Admin LTE
@import "node_modules/admin-lte/dist/css/AdminLTE.min";
@import "node_modules/admin-lte/dist/css/skins/skin-blue.min";

// plugins
@import "node_modules/admin-lte/plugins/iCheck/square/blue";



html {
  font-family: $font-family-sans-serif;
}

.padding-top70 {
  padding-top: 70px;
}

.tablerow-success {
  background-color: #39ffb0 !important;
}

.tablerow-caution {
  background-color: #ffea95 !important;
}

.tablerow-danger {
  background-color: #ffccc6 !important;
}

td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}

// AdminLTE Overrides
.main-header .sidebar-toggle {
  padding: 12px 12px;
}

.skin-blue .main-header .logo:hover {
  //background-color: #222D32;
}
.skin-blue .main-header .logo {
  //background-color: #222D32;
}